<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>{{title}}</title>
</head>
<body>
	<h1>Hello {{user.name}}! </h1>
	<li>age :{{user.age}}</li>
	<li>sex :{{user.sex}}</li>
	<li>say :{{user.say}}</li>
	
		{% if user.age < 18 %}
			<li>未成年</li>
		{% else %}
			<li>成年</li>
		{% endif %}
		
		{% for book in book_list %}
			<li>book ---:{{book | upper | lower | capfirst}}</li>
		{% endfor %}

		
		<li>today is :{{today | date:"Y-m-d"}}</li>
		
		{% load percent %}
		
		<li>today is :{{today | date:"Y-m-d" | percent}}</li>
</body>
</html>
